.aboutpagephone1-container {
  min-height: 100vh;
}
.aboutpagephone1-aboutpagephone {
  width: 100%;
  height: 1994px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.aboutpagephone1-div {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 56.375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-size: cover;
  background-image: url("public/playground_assets/b0d7bcd1-334b-4107-a8d4-f1091e7263ad-qhzh-1500h.undefined");
}
.aboutpagephone1-nav {
  top: 0px;
  left: 25px;
  width: 340px;
  height: 56.375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-span {
  top: 13.1875px;
  left: 297px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-rectangle1 {
  top: 0px;
  left: 104px;
  width: 262px;
  height: 234px;
  position: absolute;
}
.aboutpagephone1-span1 {
  top: 0px;
  left: 299px;
  width: 55px;
  height: 55px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-i-m-a-g-e111111logoremovebgpreview1 {
  top: 0px;
  left: 0px;
  width: 91px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-group3 {
  top: 205px;
  left: 0px;
  width: 390px;
  height: 1789.234375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpagephone1-section {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 870px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-design2png {
  top: 563.765625px;
  left: 315px;
  width: 75px;
  height: 204px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-div01 {
  top: 45px;
  left: 0px;
  width: 390px;
  height: 750px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-div02 {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 390px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-text {
  top: -4px;
  color: rgba(12, 12, 12, 1);
  width: 348px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 38.400001525878906px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-text02 {
  top: 81px;
  color: rgba(12, 12, 12, 1);
  width: 359px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-a {
  top: 348px;
  left: 0px;
  width: 167px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(13, 8, 6, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(13, 8, 6, 1);
}
.aboutpagephone1-text04 {
  top: 9px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-aboutimgpng {
  top: 390px;
  left: 15px;
  width: 360px;
  height: 360px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-section1 {
  top: 870px;
  left: 0px;
  width: 390px;
  height: 854.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.aboutpagephone1-div03 {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 854.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-div04 {
  top: 0px;
  left: -15px;
  width: 390px;
  height: 488.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-div05 {
  top: 0px;
  left: 95px;
  width: 200px;
  height: 205.625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 0 50px 50px;
  background-color: rgba(255, 255, 255, 1);
}
.aboutpagephone1-i-m-a-g-e111111logoremovebgpreview11 {
  top: 48.625px;
  left: 26px;
  width: 148px;
  height: 108px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-a1 {
  top: 240.625px;
  left: 147.34375px;
  width: 95px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-locationpng {
  top: 2.109375px;
  left: 0px;
  width: 16px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-text06 {
  left: 30.28125px;
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-a2 {
  top: 334.625px;
  left: 119.671875px;
  width: 151px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-phonepng {
  top: 0.609375px;
  left: 0px;
  width: 13px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-text08 {
  left: 27.28125px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-a3 {
  top: 429.234375px;
  left: 103.625px;
  width: 183px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-mailpng {
  top: 5.109375px;
  left: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-text10 {
  left: 33.28125px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-div06 {
  top: 488.234375px;
  left: 0px;
  width: 360px;
  height: 205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-h5 {
  top: 20px;
  left: 120.71875px;
  width: 119px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-h5before {
  top: 27px;
  left: 36.765625px;
  width: 45px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.aboutpagephone1-text12 {
  top: -2px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-form {
  top: 64px;
  left: 0px;
  width: 360px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-div07 {
  top: 0px;
  left: 17px;
  width: 326px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-text14 {
  color: rgba(90, 89, 89, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-inputemail2 {
  top: 32px;
  left: 0px;
  width: 326px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-button {
  top: 101px;
  left: 73.28125px;
  width: 213px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgba(245, 228, 123, 1) 0%, rgba(251, 147, 10, 1) 100%);
}
.aboutpagephone1-text16 {
  top: 8px;
  left: 65px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-div08 {
  top: 693.234375px;
  left: 0px;
  width: 360px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-h51 {
  top: 55px;
  left: 125.546875px;
  width: 109px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-h5before1 {
  top: 27px;
  left: 31.953125px;
  width: 45px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.aboutpagephone1-text18 {
  top: -2px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-div09 {
  top: 114px;
  left: 78px;
  width: 204px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-fbpng {
  top: 0px;
  left: 10px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-twitterpng {
  top: 0px;
  left: 61px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-linkedinpng {
  top: 0px;
  left: 112px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-instapng {
  top: 0px;
  left: 163px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.aboutpagephone1-section2 {
  top: 1724.234375px;
  left: 0px;
  width: 390px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.aboutpagephone1-p {
  top: 0px;
  left: 55.703125px;
  width: 279px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpagephone1-text20 {
  top: 21px;
  left: 35px;
  color: rgba(156, 155, 155, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpagephone1-pborder {
  top: 0px;
  left: 55.703125px;
  width: 279px;
  height: 65px;
  position: absolute;
}
.aboutpagephone1-group154 {
  top: 81px;
  left: 153px;
  width: 84px;
  height: 136px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpagephone1-text22 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpagephone1-text24 {
  top: 38px;
  left: 3px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpagephone1-text26 {
  top: 76px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpagephone1-text28 {
  top: 114px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpagephone1-rectangle192 {
  top: 34px;
  left: 8px;
  width: 67px;
  height: 29px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
