.contactpage-phone-container {
  min-height: 100vh;
}
.contactpage-phone-contactpage-phone {
  width: 100%;
  height: 3239px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.contactpage-phone-frame10 {
  top: 269px;
  left: -18px;
  width: 427px;
  height: 711px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-group145 {
  top: 0px;
  left: 0px;
  width: 427px;
  height: 1989px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-group132 {
  top: 0px;
  left: 0px;
  width: 427px;
  height: 922px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-text {
  top: 510px;
  color: rgba(117, 117, 117, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-text05 {
  top: 510px;
  left: 182px;
  color: rgba(117, 117, 117, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-text10 {
  top: 682px;
  color: rgba(117, 117, 117, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-text15 {
  top: 682px;
  left: 233px;
  color: rgba(117, 117, 117, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-rectangle191 {
  top: 0px;
  left: 53px;
  width: 321px;
  height: 412px;
  position: absolute;
  border-color: transparent;
  border-radius: 52px 52px 52px 0;
}
.contactpage-phone-text20 {
  top: 18px;
  left: 121px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-text22 {
  top: 77px;
  left: 72px;
  color: rgba(117, 117, 117, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-maskgroup {
  top: 299px;
  left: 249px;
  width: 79px;
  height: 72.83000183105469px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-ellipse121 {
  top: 0px;
  left: 0px;
  width: 79px;
  height: 73px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-brunettebloggerposingforphoto1 {
  top: 0px;
  left: -13.578125px;
  width: 93px;
  height: 79px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-maskgroup1 {
  top: 204px;
  left: 87px;
  width: 79px;
  height: 72.828125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-ellipse116 {
  top: 0px;
  left: 0px;
  width: 79px;
  height: 73px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-happyyoungafricanamericanmanisolatedonyellowstudio {
  top: -6.171875px;
  left: -19.75px;
  width: 120px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-maskgroup2 {
  top: 204px;
  left: 249px;
  width: 79px;
  height: 72.83000183105469px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-ellipse117 {
  top: 0px;
  left: 0px;
  width: 79px;
  height: 73px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-portraitofyoungasianmanlookingconfidentandtakingse {
  top: 0px;
  left: -16.046875px;
  width: 107px;
  height: 77px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-maskgroup3 {
  top: 299px;
  left: 87px;
  width: 79px;
  height: 72.83000183105469px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-ellipse118 {
  top: 0px;
  left: 0px;
  width: 79px;
  height: 73px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-modernwomantakingselfie1 {
  top: -2.46881365776062px;
  left: -11.109375px;
  width: 102px;
  height: 75px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-discuter1 {
  top: 631px;
  left: 100px;
  width: 44px;
  height: 44px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-gmail1 {
  top: 631px;
  left: 279px;
  width: 44px;
  height: 44px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-whatsapp11 {
  top: 458px;
  left: 98px;
  width: 44px;
  height: 44px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-appel1 {
  top: 458px;
  left: 275px;
  width: 44px;
  height: 44px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text24 {
  top: 864px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 366px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-line19 {
  top: 832px;
  left: 69px;
  width: 289px;
  height: 0px;
  position: absolute;
}
.contactpage-phone-group105 {
  top: 1006px;
  left: 40px;
  width: 347px;
  height: 90.22357940673828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-rectangle187 {
  top: 18.044715881347656px;
  left: -1.8189894035458565e-12px;
  width: 347px;
  height: 72px;
  position: absolute;
  border-color: rgba(247, 197, 80, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
}
.contactpage-phone-rectangle188 {
  top: 0px;
  left: 37.65853500366211px;
  width: 127px;
  height: 33px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text26 {
  top: 5px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-group107 {
  top: 1115px;
  left: 40px;
  width: 347px;
  height: 91.15853118896484px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-rectangle1871 {
  top: 18.231706619262695px;
  left: -1.8189894035458565e-12px;
  width: 347px;
  height: 73px;
  position: absolute;
  border-color: rgba(247, 197, 80, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
}
.contactpage-phone-rectangle1881 {
  top: 0px;
  left: 44px;
  width: 127px;
  height: 33px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text28 {
  top: 5px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-group106 {
  top: 1225px;
  left: 40px;
  width: 347px;
  height: 90.22357940673828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-rectangle1872 {
  top: 18.044715881347656px;
  left: -1.8189894035458565e-12px;
  width: 347px;
  height: 72px;
  position: absolute;
  border-color: rgba(247, 197, 80, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
}
.contactpage-phone-rectangle1882 {
  top: 0px;
  left: 46px;
  width: 166px;
  height: 33px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text30 {
  top: 5px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-group108 {
  top: 1334px;
  left: 40px;
  width: 347px;
  height: 86.15853118896484px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-rectangle1873 {
  top: 13.231706619262695px;
  left: 0px;
  width: 347px;
  height: 73px;
  position: absolute;
  border-color: rgba(247, 197, 80, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
}
.contactpage-phone-rectangle1883 {
  top: 0px;
  left: 44px;
  width: 81px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text32 {
  top: 2.134146213531494px;
  left: 56.280487060546875px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-group144 {
  top: 1439px;
  left: 40px;
  width: 347px;
  height: 444px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-rectangle1874 {
  top: 25.118501663208008px;
  left: 0px;
  width: 347px;
  height: 419px;
  position: absolute;
  border-color: rgba(247, 197, 80, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
}
.contactpage-phone-rectangle1884 {
  top: 0px;
  left: 41px;
  width: 159px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text34 {
  top: 11px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-c-t-a-contact-now {
  top: 1902px;
  left: 93px;
  width: 240px;
  height: 87px;
  display: flex;
  padding: 20px 40px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 60px;
  justify-content: center;
  background-color: rgba(247, 197, 80, 1);
}
.contactpage-phone-text36 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Averta Demo PE Cutted Demo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-section {
  top: 2051px;
  left: 18px;
  width: 390px;
  height: 854.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.contactpage-phone-section1 {
  top: 854.234375px;
  left: 0px;
  width: 390px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.contactpage-phone-p {
  top: 0px;
  left: 55.703125px;
  width: 279px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-text38 {
  top: 21px;
  left: 35px;
  color: rgba(156, 155, 155, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-pborder {
  top: 0px;
  display: none;
  left: 55.703125px;
  width: 279px;
  height: 65px;
  position: absolute;
}
.contactpage-phone-div {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 854.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-div1 {
  top: 0px;
  left: -15px;
  width: 390px;
  height: 488.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-div2 {
  top: 0px;
  left: 95px;
  width: 200px;
  height: 205.625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 0 50px 50px;
  background-color: rgba(255, 255, 255, 1);
}
.contactpage-phone-i-m-a-g-e111111logoremovebgpreview1 {
  top: 48.625px;
  left: 26px;
  width: 148px;
  height: 108px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-a {
  top: 240.625px;
  left: 147.34375px;
  width: 95px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-locationpng {
  top: 2.109375px;
  left: 0px;
  width: 16px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text40 {
  left: 30.28125px;
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-a1 {
  top: 334.625px;
  left: 119.671875px;
  width: 151px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-phonepng {
  top: 0.609375px;
  left: 0px;
  width: 13px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text42 {
  left: 27.28125px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-a2 {
  top: 429.234375px;
  left: 103.625px;
  width: 183px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-mailpng {
  top: 5.109375px;
  left: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-text44 {
  left: 33.28125px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-div3 {
  top: 488.234375px;
  left: 0px;
  width: 360px;
  height: 205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-h5 {
  top: 20px;
  left: 120.71875px;
  width: 119px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-h5before {
  top: 27px;
  left: 36.765625px;
  width: 45px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.contactpage-phone-text46 {
  top: -2px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-form {
  top: 64px;
  left: 0px;
  width: 360px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-div4 {
  top: 0px;
  left: 17px;
  width: 326px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-text48 {
  color: rgba(90, 89, 89, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-inputemail2 {
  top: 32px;
  left: 0px;
  width: 326px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-button {
  top: 101px;
  left: 73.28125px;
  width: 213px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgba(245, 228, 123, 1) 0%, rgba(251, 147, 10, 1) 100%);
}
.contactpage-phone-text50 {
  top: 8px;
  left: 65px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-div5 {
  top: 693.234375px;
  left: 0px;
  width: 360px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-h51 {
  top: 55px;
  left: 125.546875px;
  width: 109px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-h5before1 {
  top: 27px;
  left: 31.953125px;
  width: 45px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.contactpage-phone-text52 {
  top: -2px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contactpage-phone-div6 {
  top: 114px;
  left: 78px;
  width: 204px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-fbpng {
  top: 0px;
  left: 10px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-twitterpng {
  top: 0px;
  left: 61px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-linkedinpng {
  top: 0px;
  left: 112px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-instapng {
  top: 0px;
  left: 163px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-nav {
  top: 0px;
  left: 25px;
  width: 340px;
  height: 56.375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.contactpage-phone-span {
  top: 13.1875px;
  left: 297px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-rectangle1 {
  top: 0px;
  left: 104px;
  width: 262px;
  height: 234px;
  position: absolute;
}
.contactpage-phone-span1 {
  top: 0px;
  left: 299px;
  width: 55px;
  height: 55px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-i-m-a-g-e111111logoremovebgpreview11 {
  top: 0px;
  left: 0px;
  width: 91px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.contactpage-phone-group154 {
  top: 66px;
  left: 129px;
  width: 84px;
  height: 139px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contactpage-phone-text54 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-text56 {
  top: 38px;
  left: 3px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-text58 {
  top: 76px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-text60 {
  top: 114px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contactpage-phone-rectangle192 {
  top: 110px;
  left: 0px;
  width: 84px;
  height: 29px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
