.homepagephone1-container {
  min-height: 100vh;
}
.homepagephone1-homepagephone {
  width: 100%;
  height: 6694px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.homepagephone1-group2 {
  top: 253px;
  left: 0px;
  width: 390px;
  height: 6441.46875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepagephone1-group1 {
  top: 779.21875px;
  left: 0px;
  width: 390px;
  height: 5662.25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepagephone1-div {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 786.765625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div01 {
  top: 30px;
  left: 30px;
  width: 300px;
  height: 214px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.0020000000949949026);
}
.homepagephone1-text {
  top: 13px;
  left: 15px;
  color: rgba(251, 181, 52, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-i1png {
  top: 42px;
  left: 87.5px;
  width: 125px;
  height: 125px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text02 {
  top: 165px;
  left: 15px;
  color: rgba(12, 12, 12, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div02 {
  top: 304px;
  left: 30px;
  width: 300px;
  height: 207.5625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.0020000000949949026);
}
.homepagephone1-text04 {
  top: 13px;
  left: 15px;
  color: rgba(251, 181, 52, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-i2png {
  top: 42px;
  left: 87.5px;
  width: 125px;
  height: 119px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text06 {
  top: 158.5625px;
  left: 15px;
  color: rgba(12, 12, 12, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div03 {
  top: 571.5625px;
  left: 30px;
  width: 300px;
  height: 185.203125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.0020000000949949026);
}
.homepagephone1-text08 {
  top: 13px;
  left: 15px;
  color: rgba(251, 181, 52, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-i3png {
  top: 42px;
  left: 87.5px;
  width: 125px;
  height: 96px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text10 {
  top: 136.203125px;
  left: 15px;
  color: rgba(12, 12, 12, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-section {
  top: 831.765625px;
  left: 0px;
  width: 390px;
  height: 870px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-design2png {
  top: 563.765625px;
  left: 315px;
  width: 75px;
  height: 204px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-div04 {
  top: 45px;
  left: 0px;
  width: 390px;
  height: 750px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div05 {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 390px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text12 {
  top: -4px;
  color: rgba(12, 12, 12, 1);
  width: 348px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 38.400001525878906px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text14 {
  top: 81px;
  color: rgba(12, 12, 12, 1);
  width: 359px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-a {
  top: 348px;
  left: 0px;
  width: 167px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(13, 8, 6, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(13, 8, 6, 1);
}
.homepagephone1-text16 {
  top: 9px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  width: 86px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-aboutimgpng {
  top: 390px;
  left: 15px;
  width: 360px;
  height: 360px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-section1 {
  top: 1701.765625px;
  left: 0px;
  width: 390px;
  height: 1878px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(248, 248, 248, 1);
}
.homepagephone1-div06 {
  top: 75px;
  left: 0px;
  width: 390px;
  height: 1728px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text18 {
  top: -4px;
  left: 15px;
  color: rgba(12, 12, 12, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 38.400001525878906px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div07 {
  top: 46px;
  left: 15px;
  width: 360px;
  height: 1640px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div08 {
  top: 75px;
  left: 10px;
  width: 340px;
  height: 450px;
  display: flex;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.homepagephone1-text20 {
  top: 43px;
  left: 104.640625px;
  color: rgba(12, 12, 12, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-p1png {
  top: 151.484375px;
  left: 95px;
  width: 150px;
  height: 111px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-div09 {
  top: 340px;
  left: 118.53125px;
  width: 103px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h5 {
  top: 0px;
  left: 0px;
  width: 103px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text22 {
  top: -3px;
  left: 1.109375px;
  color: rgba(12, 12, 12, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 26.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text23 {
  color: rgba(12, 12, 12, 1);
}
.homepagephone1-a01 {
  top: 49px;
  left: 0px;
  width: 103px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.homepagephone1-text25 {
  top: 6px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div10 {
  top: 595px;
  left: 10px;
  width: 340px;
  height: 450px;
  display: flex;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.homepagephone1-text27 {
  top: 43px;
  left: 104.640625px;
  color: rgba(12, 12, 12, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-i2png1 {
  top: 135.859375px;
  left: 95px;
  width: 150px;
  height: 142px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-div11 {
  top: 339.984375px;
  left: 118.53125px;
  width: 103px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h51 {
  top: 0px;
  left: 0px;
  width: 103px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text29 {
  top: -3px;
  left: 1.109375px;
  color: rgba(12, 12, 12, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 26.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text30 {
  color: rgba(12, 12, 12, 1);
}
.homepagephone1-a02 {
  top: 49px;
  left: 0px;
  width: 103px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.homepagephone1-text32 {
  top: 6px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div12 {
  top: 1115px;
  left: 10px;
  width: 340px;
  height: 450px;
  display: flex;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.homepagephone1-text34 {
  top: 43px;
  left: 104.640625px;
  color: rgba(12, 12, 12, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 21.600000381469727px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-i3png1 {
  top: 149.28125px;
  left: 95px;
  width: 150px;
  height: 115px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-div13 {
  top: 340px;
  left: 118.53125px;
  width: 103px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h52 {
  top: 0px;
  left: 0px;
  width: 103px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text36 {
  top: -3px;
  left: 1.109375px;
  color: rgba(12, 12, 12, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 26.399999618530273px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text37 {
  color: rgba(12, 12, 12, 1);
}
.homepagephone1-a03 {
  top: 49px;
  left: 0px;
  width: 103px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.homepagephone1-text39 {
  top: 6px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-a04 {
  top: 1686px;
  left: 117.28125px;
  width: 155px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(13, 8, 6, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(13, 8, 6, 1);
}
.homepagephone1-text41 {
  top: 9px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  width: 74px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-section2 {
  top: 3579.765625px;
  left: 0px;
  width: 390px;
  height: 581.6875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-design1png {
  top: 356.6875px;
  left: 0px;
  width: 75px;
  height: 150px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-div14 {
  top: 75px;
  left: 15px;
  width: 360px;
  height: 431.6875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.07999999821186066) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.0020000000949949026);
}
.homepagephone1-div15 {
  top: 45px;
  left: 0px;
  width: 360px;
  height: 341.6875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div16 {
  top: 0px;
  left: 15px;
  width: 330px;
  height: 133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text43 {
  top: -3px;
  left: 119.359375px;
  color: rgba(251, 181, 52, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28.799999237060547px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text45 {
  top: 32px;
  left: 53.84375px;
  color: rgba(12, 12, 12, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 38.400001525878906px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-a05 {
  top: 97px;
  left: 113.53125px;
  width: 103px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.homepagephone1-text47 {
  top: 6px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-ringimgjpg {
  top: 178px;
  left: 15px;
  width: 330px;
  height: 164px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-div17 {
  top: 4161.453125px;
  left: 0px;
  width: 390px;
  height: 581.5625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text49 {
  top: -4px;
  left: 102.65625px;
  color: rgba(12, 12, 12, 1);
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 38.400001525878906px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text51 {
  top: 43px;
  left: 36.296875px;
  color: rgba(12, 12, 12, 1);
  width: 321px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28.799999237060547px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div18 {
  top: 82px;
  left: 15px;
  width: 360px;
  height: 499.5625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div19 {
  top: 75px;
  left: 27px;
  width: 306px;
  height: 349.5625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(251, 181, 52, 1);
  border-style: solid;
  border-width: 1px;
}
.homepagephone1-div20 {
  top: 26px;
  left: 26px;
  width: 254px;
  height: 94.5625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-clientpng {
  top: 0px;
  left: 0px;
  width: 95px;
  height: 95px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-div21 {
  top: 8.28125px;
  left: 119.5625px;
  width: 134px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text53 {
  top: -2px;
  color: rgba(12, 12, 12, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text55 {
  top: 30px;
  color: rgba(246, 215, 104, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 19.200000762939453px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text57 {
  top: 155.5625px;
  left: 26px;
  color: rgba(12, 12, 12, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-section3 {
  top: 4743.015625px;
  left: 0px;
  width: 390px;
  height: 854.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.homepagephone1-div22 {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 854.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div23 {
  top: 0px;
  left: -15px;
  width: 390px;
  height: 488.234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div24 {
  top: 0px;
  left: 95px;
  width: 200px;
  height: 205.625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 0 50px 50px;
  background-color: rgba(255, 255, 255, 1);
}
.homepagephone1-i-m-a-g-e111111logoremovebgpreview1 {
  top: 48.765625px;
  left: 26px;
  width: 148px;
  height: 108px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-a06 {
  top: 240.625px;
  left: 147.34375px;
  width: 95px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-locationpng {
  top: 2.109375px;
  left: 0px;
  width: 16px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text59 {
  left: 30.28125px;
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-a07 {
  top: 334.625px;
  left: 119.671875px;
  width: 151px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-phonepng {
  top: 0.609375px;
  left: 0px;
  width: 13px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text61 {
  left: 27.28125px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-a08 {
  top: 429.234375px;
  left: 103.625px;
  width: 183px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-mailpng {
  top: 5.109375px;
  left: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text63 {
  left: 33.28125px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div25 {
  top: 488.234375px;
  left: 0px;
  width: 360px;
  height: 205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h53 {
  top: 20px;
  left: 120.71875px;
  width: 119px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h5before {
  top: 27px;
  left: 36.765625px;
  width: 45px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.homepagephone1-text65 {
  top: -2px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-form {
  top: 64px;
  left: 0px;
  width: 360px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div26 {
  top: 0px;
  left: 17px;
  width: 326px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text67 {
  color: rgba(90, 89, 89, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-inputemail2 {
  top: 32px;
  left: 0px;
  width: 326px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-button {
  top: 101px;
  left: 73.28125px;
  width: 213px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgba(245, 228, 123, 1) 0%, rgba(251, 147, 10, 1) 100%);
}
.homepagephone1-text69 {
  top: 8px;
  left: 65px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div27 {
  top: 693.234375px;
  left: 0px;
  width: 360px;
  height: 161px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h54 {
  top: 55px;
  left: 125.546875px;
  width: 109px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h5before1 {
  top: 27px;
  left: 31.953125px;
  width: 45px;
  height: 5px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.homepagephone1-text71 {
  top: -2px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div28 {
  top: 114px;
  left: 78px;
  width: 204px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-fbpng {
  top: 0px;
  left: 10px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-twitterpng {
  top: 0px;
  left: 61px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-linkedinpng {
  top: 0px;
  left: 112px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-instapng {
  top: 0px;
  left: 163px;
  width: 31px;
  height: 32px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-section4 {
  top: 5597.25px;
  left: 0px;
  width: 390px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.homepagephone1-p {
  top: 0px;
  left: 55.703125px;
  width: 279px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text73 {
  top: 21px;
  left: 35px;
  color: rgba(156, 155, 155, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-pborder {
  top: 0px;
  left: 55.703125px;
  width: 279px;
  height: 65px;
  position: absolute;
}
.homepagephone1-design1png1 {
  top: 564.84375px;
  left: 0px;
  width: 75px;
  height: 150px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-divcarousel-example-indicators {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 685.84375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div29 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 685.84375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div30 {
  top: 0px;
  left: -15px;
  width: 390px;
  height: 685.84375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-div31 {
  top: 0px;
  left: 15px;
  width: 360px;
  height: 345px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-h2 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-text75 {
  top: -3px;
  color: rgba(12, 12, 12, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 28.799999237060547px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 34.560001373291016px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-hr {
  top: 16.5px;
  left: 224px;
  width: 55px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text77 {
  top: 29px;
  left: 47.265625px;
  color: rgba(12, 12, 12, 1);
  width: 266px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 57.599998474121094px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-text79 {
  top: 121px;
  left: 4.40625px;
  color: rgba(12, 12, 12, 1);
  width: 351px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-a09 {
  top: 268px;
  left: 99.203125px;
  width: 162px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(13, 8, 6, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(13, 8, 6, 1);
}
.homepagephone1-text81 {
  top: 9px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-sliderimgpng {
  top: 345px;
  left: 15px;
  width: 360px;
  height: 341px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-text83 {
  top: 499.96875px;
  left: 64.1875px;
  color: rgba(192, 192, 192, 1);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.homepagephone1-div32 {
  top: -842px;
  left: -15px;
  width: 1725px;
  height: 2600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-size: cover;
  background-image: url("public/playground_assets/1b378227-f67d-46bf-a8bd-fdd665c5616f-aic-1800w.undefined");
}
.homepagephone1-rectangle192 {
  top: 85px;
  left: 161px;
  width: 67px;
  height: 29px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.homepagephone1-nav {
  top: 7px;
  left: 25px;
  width: 340px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.homepagephone1-span {
  top: -2px;
  left: 285px;
  width: 55px;
  height: 55px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-i-m-a-g-e111111logoremovebgpreview11 {
  top: -7px;
  left: -10px;
  width: 91px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.homepagephone1-group154 {
  top: 89px;
  left: 153px;
  width: 84px;
  height: 136px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.homepagephone1-text85 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagephone1-text87 {
  top: 38px;
  left: 3px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagephone1-text89 {
  top: 76px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepagephone1-text91 {
  top: 114px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
