.aboutpage-container {
  min-height: 100vh;
}
.aboutpage-aboutpage {
  width: 100%;
  height: 1201px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.aboutpage-group2 {
  top: 50px;
  left: 0px;
  width: 1263px;
  height: 1151.3153076171875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpage-section {
  top: 0px;
  left: 0px;
  width: 1262.000732421875px;
  height: 592.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-design2png {
  top: 323.69427490234375px;
  left: 1196.271484375px;
  width: 66px;
  height: 179px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-div {
  top: 39.5px;
  left: 118.31256866455078px;
  width: 1025px;
  height: 487.1666564941406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-div1 {
  top: 104.01668548583984px;
  left: 13.145841598510742px;
  width: 486px;
  height: 279.1333312988281px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-h2 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 33.35555648803711px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-h2before {
  top: 4.6631855964660645px;
  left: 305.59967041015625px;
  width: 8px;
  height: 26px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-text {
  top: -3.511131763458252px;
  left: 0.00004069010537932627px;
  color: rgba(12, 12, 12, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 28.088890075683594px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 33.706668853759766px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-text02 {
  top: 71.0999755859375px;
  left: 0.00004069010537932627px;
  color: rgba(12, 12, 12, 1);
  width: 452px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-a {
  top: 242.2666473388672px;
  left: 0.00004069010537932627px;
  width: 147px;
  height: 36.86666488647461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(13, 8, 6, 1);
  border-style: solid;
  border-width: 0.8777778148651123px;
  background-color: rgba(13, 8, 6, 1);
}
.aboutpage-text04 {
  top: 7.900025844573975px;
  left: 35.93206024169922px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-aboutimgpng {
  top: -2.9640230536642775e-7px;
  left: 525.8336181640625px;
  width: 486px;
  height: 487px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-group143 {
  top: -9.084716796875px;
  left: 0px;
  width: 1263px;
  height: 94.80000305175781px;
  display: flex;
  padding: 0;
  position: fixed;
  z-index: 1000;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-end;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(253, 253, 253, 1);
}
.aboutpage-group103 {
  top: 19.31110382080078px;
  left: 92.09371185302734px;
  width: 1054.32080078125px;
  height: 46.52222442626953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpage-top-menu {
  top: 0px;
  left: 0px;
  width: 1054.32080078125px;
  height: 46.52222442626953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpage-frame4 {
  top: 0px;
  left: 0px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.aboutpage-group62 {
  top: 14.922225952148438px;
  left: 724.4708862304688px;
  width: 329.84991455078125px;
  height: 21.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpage-text06 {
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpage-text08 {
  left: 90.33931732177734px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpage-text10 {
  left: 180.67916870117188px;
  color: rgba(0, 0, 0, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpage-text12 {
  left: 271.895751953125px;
  color: rgba(0, 0, 0, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpage-top-menu1 {
  top: 14.922225952148438px;
  left: 724.4708862304688px;
  width: 329.84991455078125px;
  height: 21.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpage-group621 {
  top: 40px;
  left: 0px;
  width: 329.84991455078125px;
  height: 21.000001907348633px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.aboutpage-text14 {
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpage-text16 {
  left: 271.895751953125px;
  color: rgba(0, 0, 0, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.aboutpage-line9 {
  top: 35.98889923095703px;
  left: 806.0396118164062px;
  width: 61px;
  height: 0px;
  position: absolute;
}
.aboutpage-i-m-a-g-e111111logoremovebgpreview1 {
  top: -0.484718322753906px;
  left: 21px;
  width: 142px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-section1 {
  top: 593px;
  left: 0px;
  width: 1263px;
  height: 502px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.aboutpage-div2 {
  top: 0.000029675795303774066px;
  left: 131.5625px;
  width: 1000px;
  height: 501.75970458984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-div3 {
  top: 0.000029675795303774066px;
  left: -13.156208992004395px;
  width: 1026px;
  height: 180.49305725097656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-div4 {
  top: 0.000029675795303774066px;
  left: 13.15625px;
  width: 175px;
  height: 180.49305725097656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 0 43.88888931274414px 43.88888931274414px;
  background-color: rgba(255, 255, 255, 1);
}
.aboutpage-i-m-a-g-e111111logoremovebgpreview11 {
  top: 38.0152587890625px;
  left: 16.54150390625px;
  width: 142px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-a1 {
  top: 100.94447326660156px;
  left: 278.4739685058594px;
  width: 84px;
  height: 20.188888549804688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-locationpng {
  top: 1.8515785932540894px;
  left: -0.000013563368156610522px;
  width: 14px;
  height: 18px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-text18 {
  top: 0.000016112428056658246px;
  left: 26.580289840698242px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-a2 {
  top: 100.94447326660156px;
  left: 535.0208740234375px;
  width: 132px;
  height: 20.188888549804688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-phonepng {
  top: 0.5348999500274658px;
  left: 0.00010850694525288418px;
  width: 11px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-text20 {
  top: 0.000016112428056658246px;
  left: 23.946935653686523px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-a3 {
  top: 100.94447326660156px;
  left: 791.5677490234375px;
  width: 160px;
  height: 20.188888549804688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-mailpng {
  top: 4.4848761558532715px;
  left: 0.00010850694525288418px;
  width: 17px;
  height: 13px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-text22 {
  top: 0.000016112428056658246px;
  left: 29.21364974975586px;
  color: rgba(255, 255, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-div5 {
  top: 180.4930877685547px;
  left: 0.00004069010537932627px;
  width: 1000px;
  height: 179.94444274902344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-h5 {
  top: 17.555538177490234px;
  left: 448.2975769042969px;
  width: 104px;
  height: 21.066667556762695px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-h5before {
  top: 23.69997215270996px;
  left: 32.272220611572266px;
  width: 39px;
  height: 4px;
  position: absolute;
  border-color: transparent;
  border-radius: 4.388888835906982px;
}
.aboutpage-text24 {
  top: -1.7555958032608032px;
  left: 0.00007682746945647523px;
  color: rgba(255, 255, 255, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 17.55555534362793px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-form {
  top: 56.177711486816406px;
  left: 0.00004069010537932627px;
  width: 1000px;
  height: 123.76667022705078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-div6 {
  top: -0.000022348731363308616px;
  left: 280.888916015625px;
  width: 439px;
  height: 57.93333435058594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-text26 {
  color: rgba(90, 89, 89, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 10.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-inputemail2 {
  top: 28.088903427124023px;
  left: -0.00010850694525288418px;
  width: 439px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-button {
  top: 88.65557861328125px;
  left: 406.3363037109375px;
  width: 187px;
  height: 35.11111068725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 26.33333396911621px;
  background-image: linear-gradient(180deg, rgba(245, 228, 123, 1) 0%, rgba(251, 147, 10, 1) 100%);
}
.aboutpage-text28 {
  top: 7.0222487449646px;
  left: 57.05550003051758px;
  color: rgba(255, 255, 255, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 14.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-div7 {
  top: 360.4375305175781px;
  left: 0.00004069010537932627px;
  width: 1000px;
  height: 141.3222198486328px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-h51 {
  top: 48.277809143066406px;
  left: 452.53564453125px;
  width: 96px;
  height: 21.066667556762695px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-h5before1 {
  top: 23.699951171875px;
  left: 28.0478515625px;
  width: 39px;
  height: 4px;
  position: absolute;
  border-color: transparent;
  border-radius: 4.388888835906982px;
}
.aboutpage-text30 {
  top: -1.7555561065673828px;
  left: 0.00010850694525288418px;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 17.55555534362793px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-div8 {
  top: 100.066650390625px;
  left: 410.7999572753906px;
  width: 179px;
  height: 28.088890075683594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-fbpng {
  top: -0.0000020036791283928324px;
  left: 8.777795791625977px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-twitterpng {
  top: -0.0000020036791283928324px;
  left: 53.54450988769531px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-linkedinpng {
  top: -0.0000020036791283928324px;
  left: 98.31122589111328px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-instapng {
  top: -0.0000020036791283928324px;
  left: 143.07794189453125px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.aboutpage-section2 {
  top: 1094.259765625px;
  left: 0px;
  width: 1263px;
  height: 77.05555725097656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(54, 54, 54, 1);
}
.aboutpage-p {
  top: -0.00008566025644540787px;
  left: 509.7283020019531px;
  width: 245px;
  height: 57.05555725097656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.aboutpage-text32 {
  top: 18.43341827392578px;
  left: 30.72224998474121px;
  color: rgba(156, 155, 155, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 12.044445037841797px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.066667556762695px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.aboutpage-pborder {
  top: 15.00008566025644540787px;
  left: 509.3250427246094px;
  width: 244px;
  height: 57px;
  position: absolute;
}
.displayabout{
  display: none;
}

@media screen and (max-width: 500px) {
  .displayabout{
    display: grid;
  }
  .aboutpage-container{
    display: none;
  }

  .aboutpagephone-container {
    min-height: 100vh;
  }
  .aboutpagephone-aboutpagephone {
    width: 100%;
    height: 1846px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .aboutpagephone-frame16 {
    top: 56px;
    left: 0px;
    width: 390px;
    height: 711px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-group157 {
    top: 0px;
    left: 0px;
    width: 390px;
    height: 1724.234375px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .aboutpagephone-section {
    top: 0px;
    left: 0px;
    width: 390px;
    height: 870px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-design2png {
    top: 563.765625px;
    left: 315px;
    width: 75px;
    height: 204px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-div {
    top: 45px;
    left: 0px;
    width: 390px;
    height: 750px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-div1 {
    top: 0px;
    left: 15px;
    width: 360px;
    height: 390px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-text {
    top: -4px;
    color: rgba(12, 12, 12, 1);
    width: 348px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 38.400001525878906px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-text02 {
    top: 81px;
    color: rgba(12, 12, 12, 1);
    width: 359px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-a {
    top: 348px;
    left: 0px;
    width: 167px;
    height: 42px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(13, 8, 6, 1);
    border-style: solid;
    border-width: 1px;
    background-color: rgba(13, 8, 6, 1);
  }
  .aboutpagephone-text04 {
    top: 9px;
    left: 41px;
    color: rgba(255, 255, 255, 1);
    width: 86px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-aboutimgpng {
    top: 390px;
    left: 15px;
    width: 360px;
    height: 360px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-section1 {
    top: 870px;
    left: 0px;
    width: 390px;
    height: 854.234375px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(54, 54, 54, 1);
  }
  .aboutpagephone-section2 {
    top: 854.234375px;
    left: 0px;
    width: 390px;
    height: 65px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(54, 54, 54, 1);
  }
  .aboutpagephone-p {
    top: 0px;
    left: 55.703125px;
    width: 279px;
    height: 65px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-text06 {
    top: 21px;
    left: 35px;
    color: rgba(156, 155, 155, 1);
    width: 209px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-pborder {
    top: 0px;
    left: 55.703125px;
    width: 279px;
    height: 65px;
    position: absolute;
    display: none;
  }
  .aboutpagephone-div2 {
    top: 0px;
    left: 15px;
    width: 360px;
    height: 854.234375px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-div3 {
    top: 0px;
    left: -15px;
    width: 390px;
    height: 488.234375px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-div4 {
    top: 0px;
    left: 95px;
    width: 200px;
    height: 205.625px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0 0 50px 50px;
    background-color: rgba(255, 255, 255, 1);
  }
  .aboutpagephone-i-m-a-g-e111111logoremovebgpreview1 {
    top: 48.625px;
    left: 26px;
    width: 148px;
    height: 108px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-a1 {
    top: 240.625px;
    left: 147.34375px;
    width: 95px;
    height: 23px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-locationpng {
    top: 2.109375px;
    left: 0px;
    width: 16px;
    height: 21px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-text08 {
    left: 30.28125px;
    color: rgba(255, 255, 255, 1);
    width: 65px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-a2 {
    top: 334.625px;
    left: 119.671875px;
    width: 151px;
    height: 23px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-phonepng {
    top: 0.609375px;
    left: 0px;
    width: 13px;
    height: 24px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-text10 {
    left: 27.28125px;
    color: rgba(255, 255, 255, 1);
    width: 124px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-a3 {
    top: 429.234375px;
    left: 103.625px;
    width: 183px;
    height: 23px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-mailpng {
    top: 5.109375px;
    left: 0px;
    width: 19px;
    height: 15px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-text12 {
    left: 33.28125px;
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-div5 {
    top: 488.234375px;
    left: 0px;
    width: 360px;
    height: 205px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-h5 {
    top: 20px;
    left: 120.71875px;
    width: 119px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-h5before {
    top: 27px;
    left: 36.765625px;
    width: 45px;
    height: 5px;
    position: absolute;
    border-color: transparent;
    border-radius: 5px;
  }
  .aboutpagephone-text14 {
    top: -2px;
    color: rgba(255, 255, 255, 1);
    width: 122px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-form {
    top: 64px;
    left: 0px;
    width: 360px;
    height: 141px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-div6 {
    top: 0px;
    left: 17px;
    width: 326px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-text16 {
    color: rgba(90, 89, 89, 1);
    width: 128px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-inputemail2 {
    top: 32px;
    left: 0px;
    width: 326px;
    height: 34px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-button {
    top: 101px;
    left: 73.28125px;
    width: 213px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 30px;
    background-image: linear-gradient(180deg, rgba(245, 228, 123, 1) 0%, rgba(251, 147, 10, 1) 100%);
  }
  .aboutpagephone-text18 {
    top: 8px;
    left: 65px;
    color: rgba(255, 255, 255, 1);
    width: 84px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-div7 {
    top: 693.234375px;
    left: 0px;
    width: 360px;
    height: 161px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-h51 {
    top: 55px;
    left: 125.546875px;
    width: 109px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-h5before1 {
    top: 27px;
    left: 31.953125px;
    width: 45px;
    height: 5px;
    position: absolute;
    border-color: transparent;
    border-radius: 5px;
  }
  .aboutpagephone-text20 {
    top: -2px;
    color: rgba(255, 255, 255, 1);
    width: 111px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .aboutpagephone-div8 {
    top: 114px;
    left: 78px;
    width: 204px;
    height: 32px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-fbpng {
    top: 0px;
    left: 10px;
    width: 31px;
    height: 32px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-twitterpng {
    top: 0px;
    left: 61px;
    width: 31px;
    height: 32px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-linkedinpng {
    top: 0px;
    left: 112px;
    width: 31px;
    height: 32px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-instapng {
    top: 0px;
    left: 163px;
    width: 31px;
    height: 32px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-image {
    width: 100px;
    object-fit: cover;
    display: none;
  }
  .aboutpagephone-nav {
    top: 0px;
    left: 25px;
    width: 340px;
    height: 56.375px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .aboutpagephone-rectangle193 {
    top: 0px;
    left: -25px;
    width: 390px;
    height: 56px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-rectangle1 {
    top: 0px;
    left: 104px;
    width: 261px;
    height: 56px;
    position: absolute;
  }
  .aboutpagephone-span {
    top: 0px;
    left: 299px;
    width: 55px;
    height: 55px;
    position: absolute;
    border-color: transparent;
  }
  .aboutpagephone-i-m-a-g-e111111logoremovebgpreview11 {
    top: 0px;
    left: 0px;
    width: 91px;
    height: 66px;
    position: absolute;
    border-color: transparent;
  }
  
}